<!DOCTYPE html>
<html>
  <head>
    <title>WizardProfile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Wizards</h1>



    <ul>


      <% wizards.forEach(function(wizard){ %>
        <li>
          
          <%= wizard.name %>

          
          <% if (wizard.house == "Snowlands") { %>
           <span style="color:lightblue"> <%= " house: " + wizard.house %></span>
          
          <% } else { %>
            <span style="color:green"> <%= " house: " + wizard.house %></span>
           <% } %> 
        
        
        </li>

      <% }); %>
    </ul>

  </body>
</html>